<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videojuegos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/backend/css/cliente.css">
</head>
<body>
    <ul>
        <li>
            <a href="/sitio-admin/dashboard">Dashboard</a>
            <ul>
                <li><a href="/sitio-admin/dashboard/listar-clientes">Listar Clientes</a></li>
                <li><a href="/sitio-admin/dashboard/editar-clientes">Editar Clientes</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Clientes</a>
            <ul>
                <li><a href="/sitio-admin/modulo-ingresar-clientes">Ingresar Clientes</a></li>
                <li><a href="/sitio-admin/modulo-listar-clientes">Listar Clientes</a></li>
            </ul>
        </li>
        <li><a href="/sitio-admin/modulo-proveedores">Proveedores</a></li>
        <li><a href="/sitio-admin/modulo-usuarios">Usuarios</a></li>
        <li><a href="/auth/logout" class="btn btn-outline-light my-2 my-sm-0">Cerrar Sesión</a></li>
    </ul>
</body>
</html>
