/* cliente.css */
body {
    font-family: Arial, sans-serif;
    background-color: #007a7a; /* Verde oscuro específico */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: #4f4f4f; /* Gris */
    color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #4f4f4f; /* Gris */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul li:hover ul {
    display: block;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    width: 400px;
}

.client-form h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

#mensajeError {
    color: red;
    margin-top: 10px;
}
