<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videojuegos - Contáctanos</title>
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>
<body>
    
    <main>
        <section>
            <header>
                <h3>Contáctanos</h3>
            </header>
            <div>
                <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
            </div>
        
        </section>
        
    </main>
    <footer>
        <p>&copy; 2024 Catálogo de Videojuegos</p>
    </footer>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-white text-center">
            <span>Contacto: info@catalogodevideojuegos.com</span>
        </div>
    </footer>
</body>
</html>
