<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videojuegos - Servicios</title>
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>
<body>
    <main>
        <section>
            <header>
                <h3>Servicios</h3>
            </header>
            <div>
                <p>Ofrecemos una amplia gama de servicios para los amantes de los videojuegos.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Catálogo de Videojuegos</p>
    </footer>
</body>
</html>
